body{
    font-family: 'Bungee Spice',sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: goldenrod;

}
button{
    position: absolute;
    top: 2vh;
    left: 2vh;
    text-decoration: none;
    border: 0;
    border-radius: 10%;
    background-color: yellowgreen;
}
button img{
    max-height: 5vh;
}
#displayscore {
    display: none;
    position: absolute;
    top: 44vh;
    left: 43vw;
    z-index: 1;
    font-size: 6vh;
    border-radius: 5px;
}

#heading{
    padding: 1vh 0;
    text-align: center;
    font-size: 5vh;
}
#console{
    position: relative;
    background-color: #000058;
    margin: 0 auto;
    border: 1vh solid goldenrod;
    border-radius: 2%;
    height: 80vh;
    width: 40vh;
}
.no-block{
    position: absolute;
    height: 3.9vh;
    width: 3.9vh;
    border: .1vh solid grey;
}
